<body>
<div class="topnav">
  <a class="logo">Movie Goers</a>
  <a class="active" href="#home">Home</a>
  <a href="#news">Favoris</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<div class="container-fluid">
  <div class="poster">
    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ film.poster_path }}">
  </div>
  <div class="overview">
    <div class="titre">
      <h2 class="title" style="text:white;">{{film.title}}</h2>
      <div class="crop"
           [style.width.px]="starWidth">
        <div class="stars" style="width: 75px">
          <span class="fa fa-star" style="color: white"></span>
          <span class="fa fa-star"style="color: white"></span>
          <span class="fa fa-star"style="color: white"></span>
          <span class="fa fa-star"style="color: white"></span>
          <span class="fa fa-star"style="color: white"></span>
        </div>
      </div>
    </div>
    <div class="detail">
      <div>{{film.overview}}</div>
    </div>
    <div class="value">
      release date:{{ film.release_date | date:'dd/mm/yyyy' }}
    </div>
    <div class="value">
      runtime:{{ film.runtime  }} min
    </div>
    <div class="value">
      status:{{ film.status }}
    </div>
    <div class="value">
      tagline:{{ film.tagline }}
    </div>
    <div class="value">
      vote count:{{ film.vote_count }} vote
    </div>
    <div class="value">
      vote average:{{ film.vote_average }}
    </div>
    <div> genres:
      <div *ngFor="let genre of film.genres">
        {{ genre.name }}
      </div>
    </div>
    <div> production companies:
      <div *ngFor="let prod of film.production_companies">
        {{ prod.name }}
      </div>
    </div>
    <div> Spoken languages :
      <div *ngFor="let lan of film.spoken_languages">
        {{ lan.name }}
      </div>
    </div>
  </div>
</div>





</body>

